.bd-emoji{
  margin-right: 5px;
}

.imgBox{
  background-image: url('../images/endlessAds.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.MenuBox{
  padding: 20px;
  padding-bottom:20px;
  margin-bottom: 50px;
}

.MenuBox h2,.galleryBox h2{
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.ItemBox{
  padding-top: 15px;
}

.menu-item h3{
  font-size: 20px;
  text-align: center;
}

.popImg{
  display: block;
  margin: 0 auto;
}

.likeBox{
  text-align: center;
}

.likeBtn{
  margin-right: 5px;
  border-radius: 20px;
  background-color: #3498db;
  width: 27px;
  height: 27px;
  display:inline-block;
  text-align: center;
}

.likeBtn i{
  color:white;
}

.imgItem{
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #888888;
  transition: all 200ms ease-in;
  transform: scale(1); 
  cursor: pointer;
  position: relative; 
}

.imgItem:hover{
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1);
  box-shadow: 1px 1px 30px #34495e;
}

.galBox{
  position: relative;
}

video#vid {
  position: absolute; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
  margin: 0 auto;
}