.bd-emoji{
  margin-right: 5px;
}

.imgBox{
  background-image: url('../images/endlessAds.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.MenuBox{
  padding: 20px;
  padding-bottom:20px;
  margin-bottom: 50px;
}

.MenuBox h2,.galleryBox h2{
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.ItemBox{
  padding-top: 15px;
}

.menu-item h3{
  font-size: 20px;
  text-align: center;
}

.popImg{
  display: block;
  margin: 0 auto;
}

.likeBox{
  text-align: center;
}

.likeBtn{
  margin-right: 5px;
  border-radius: 20px;
  background-color: #3498db;
  width: 27px;
  height: 27px;
  display:inline-block;
  text-align: center;
}

.likeBtn i{
  color:white;
}